<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="static/favicon.png">-->

    <title>Create an Rdio Top Ten Playlist</title>
    <!--href="{{ url_for('static', filename='style.css') }}-->
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" rel="stylesheet">
    <link href="../static/css/sparse.css" rel="stylesheet">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51073493-1', 'rdiotopten.com');
  ga('send', 'pageview');

</script>
</head>
<body>
<div class=page>
    <!--
  <div class=metanav>
  </div>
  -->
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
</div>
  {% endfor %}
  {% block body %}{% endblock %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>

